    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        text-align: center;
        font-size: 62.5%;
        font-family: 'Patrick Hand', cursive;
        letter-spacing: 2px;
        background-image: url(../image/ba.jpg);
        background-size: cover;
    }
    
    ul li {
        list-style: none;
    }
    
    .btn {
        border-radius: 10px;
        border: none;
        color: white;
        background-color: cadetblue;
        margin: 8px 0;
        padding: 10px;
        cursor: pointer;
        font-family: 'Patrick Hand', cursive;
    }
    
    h1 {
        font-size: 40px;
        font-weight: 400;
        padding: 10px 0;
    }
    
    h2 {
        font-size: 40px;
        font-weight: 600;
        font-family: 'Patrick Hand', cursive;
        letter-spacing: 2px;
    }
    
    h3 {
        font-size: 40px;
    }
    
    p {
        font-size: 25px;
        padding: 5px;
    }
    
    img {
        width: 100%;
        text-align: center;
    }
    
    .startGame {
        display: block;
        width: 100%;
        height: 425px;
        .play-btn {
            font-size: 50px;
            background-color: #0A608D;
            padding: 20px;
        }
    }
    
    .container {
        display: none;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
        .left {
            height: 500px;
            .header {
                padding-bottom: 100px;
                font-family: cursive;
            }
            .score-panel {
                font-size: 25px;
                padding: 10px;
                width: 300px;
                height: 200px;
                background-color: white;
                margin-top: 10px;
                margin-left: 100px;
                .step-counter {
                    padding: 8px;
                }
                .timer {
                    background-color: white;
                    color: black;
                    margin-top: 20px;
                    padding: 10px;
                }
                .restart-btn {
                    margin-top: 10px;
                    font-size: 30px;
                }
            }
        }
        .memory-table {
            background-color: white;
            border-radius: 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            margin: 20px;
            padding: 10px;
            width: 525px;
            height: 525px;
            .card,
            .reset-btn {
                cursor: pointer;
            }
            .card {
                background-image: url(../image/card-blue.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                //z-index: 1;
                margin: 0;
                height: 90px;
                width: 90px;
            }
            img {
                visibility: hidden;
                height: 100%;
            }
            .flip {
                cursor: default;
                pointer-events: none;
                transform: rotateY(180deg);
                transition: transform 1s linear;
                background-image: none;
                img {
                    border: 1px solid #198ece;
                    border-radius: 10px;
                    visibility: visible;
                }
            }
            .match {
                visibility: visible;
                cursor: default;
                animation: pulse 1s;
                img {
                    background-color: white;
                }
                @keyframes pulse {
                    0% {
                        transform: scale(1);
                    }
                    80% {
                        transform: scale(1.1);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
            }
        }
    }
    
    .model {
        display: none;
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        .model-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            margin: 5% auto;
            width: 80%;
            .close {
                align-items: flex-end;
                color: crimson;
                font-size: 50px;
                cursor: pointer;
            }
            p.info {
                font-weight: 600;
            }
            p.info:last-child {
                margin-bottom: 1em;
            }
            .play-again-btn {
                font-size: 20px;
            }
        }
    }